body{background: url(./images/bg.jpg); background-attachment: fixed;}

.container{margin-top: 20px; width: 100%;}

.heroes{max-width: 700px; display: flex; flex-wrap: wrap; justify-content: center; margin: auto; }

.hero{width: 80px; height: 90px; margin: 4px; border: 3px solid white; transform: skew(-14deg); border-radius: 10px; background-color: gray; overflow: hidden;}

.hero:hover{background-color: orange; border-color: orange; transform: skew(-14deg) scale(1.3); transition: transform 0.1s, background-color 0.5s, border-color 0.5s; z-index: 1; cursor: pointer;}

.image{width: 140%; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; transform: skew(14deg) translateX(-10px);}
 
.heroes div:nth-child(1) .image{background-image: url(./images/hero1.png);}
.heroes div:nth-child(2) .image{background-image: url(./images/hero2.png);}
.heroes div:nth-child(3) .image{background-image: url(./images/hero3.png);}
.heroes div:nth-child(4) .image{background-image: url(./images/hero4.png);}
.heroes div:nth-child(5) .image{background-image: url(./images/hero5.png);}
.heroes div:nth-child(6) .image{background-image: url(./images/hero6.png);}
.heroes div:nth-child(7) .image{background-image: url(./images/hero7.png);}
.heroes div:nth-child(8) .image{background-image: url(./images/hero8.png);}
.heroes div:nth-child(9) .image{background-image: url(./images/hero9.png);}
.heroes div:nth-child(10) .image{background-image: url(./images/hero10.png);}
.heroes div:nth-child(11) .image{background-image: url(./images/hero11.png);}
.heroes div:nth-child(12) .image{background-image: url(./images/hero12.png);}
.heroes div:nth-child(13) .image{background-image: url(./images/hero13.png);}
.heroes div:nth-child(14) .image{background-image: url(./images/hero14.png);}
.heroes div:nth-child(15) .image{background-image: url(./images/hero15.png);}
.heroes div:nth-child(16) .image{background-image: url(./images/hero16.png);}
.heroes div:nth-child(17) .image{background-image: url(./images/hero17.png);}
.heroes div:nth-child(18) .image{background-image: url(./images/hero18.png);}
.heroes div:nth-child(19) .image{background-image: url(./images/hero19.png);}
.heroes div:nth-child(20) .image{background-image: url(./images/hero20.png);}
.heroes div:nth-child(21) .image{background-image: url(./images/hero21.png);}
.heroes div:nth-child(22) .image{background-image: url(./images/hero22.png);}
.heroes div:nth-child(23) .image{background-image: url(./images/hero23.png);}
.heroes div:nth-child(24) .image{background-image: url(./images/hero24.png);}
.heroes div:nth-child(25) .image{background-image: url(./images/hero25.png);}
.heroes div:nth-child(26) .image{background-image: url(./images/hero26.png);}
.heroes div:nth-child(27) .image{background-image: url(./images/hero27.png);}
.heroes div:nth-child(28) .image{background-image: url(./images/hero28.png);}
.heroes div:nth-child(29) .image{background-image: url(./images/hero29.png);}
.heroes div:nth-child(30) .image{background-image: url(./images/hero30.png);}
.heroes div:nth-child(31) .image{background-image: url(./images/hero31.png);}
.heroes div:nth-child(32) .image{background-image: url(./images/hero32.png);}

.container img{max-width: 300px; width: 100%; margin: auto; display: block; margin-top: 20px;}

/*div로 묶어서 container에 display:flex; justify-content: center;*/
